<app-caminho-menu></app-caminho-menu>
<br>

<!-- DESKTOP -->

<div class='table-responsive desktop'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratododia']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src="/assets/images/entradas.jpg" class="figure-img img-fluid rounded" alt="Entradas">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <a [routerLink]="['/produto','pratoregional']" class='btn' routerLinkActive="active">
          <button style="border: none; background: none;">
            <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
          </button>
        </a>
        <figcaption style='margin-left: 1.5em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- LAPTOP -->

<div class='table-responsive laptop'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.png' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- LAPTOP2 -->

<div class='table-responsive laptop2'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.png' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- TABLET -->

<div class='table-responsive tablet'>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row" style='display: flex; justify-content: space-evenly;'>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="...">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- mobile -->

<div class='table-responsive mobile'>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="..." width="120"
            height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="..." width="120"
            height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="..." width="120" height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="..." width="120" height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="..." width="120" height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.jpg' class="figure-img img-fluid rounded" alt="..." width="120"
            height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="..." width="120"
            height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="..." width="120" height="100">
        </button>
        <figcaption style='margin-left: 1em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>



<!-- MOBILE PEQUENO -->

<div class='table-responsive mobile-pequeno'>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- MOBILE PEQUENO2 -->

<div class='table-responsive mobile-pequeno2'>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" class='btn'>
          <img src='/assets/images/entradas.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">ENTRADAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" class='btn'>
          <img src='/assets/images/refeicoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">REFEIÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" class='btn'>
          <img src='/assets/images/saladas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALADAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" class='btn'>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">PORÇÕES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']" class='btn'>
          <img src='/assets/images/lanches.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">LANCHES</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" class='btn'>
          <img src='/assets/images/salgados.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SALGADOS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="display: flex; justify-content: space-evenly; ">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" class='btn'>
          <img src='/assets/images/sobremesas.jpg' class="figure-img img-fluid rounded" alt="..." width="100"
            height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">SOBREMESAS</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div style="display: flex; justify-content: space-evenly;">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" class='btn'>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid rounded" alt="..." width="100" height="100">
        </button>
        <figcaption style='margin-left: 0.9em; color: blue' class="figure-caption">BEBIDAS</figcaption>
      </figure>
    </div>
  </div>
</div>