/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.desktop {
  display: block;
  /* ou inline, inline-block */
}
.laptop {
  display: none;

}
.laptop2 {
  display: none;
}
.tablet {
  display: none;
}
.mobile {
  display: none;
}
.mobile-pequeno {
  display: none;
}
.mobile-pequeno2 {
  display: none;
}

 /* LAPTOP */

 @media(min-width: 993px) and (max-width: 1399px) {
  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .tablet {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
}
 /* LAPTOP2 */

 @media(min-width: 768px) and (max-width: 992px) {
  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .laptop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .laptop2 {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .tablet {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile-pequeno {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile-pequeno2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }


}

/* TABLET  */

@media(min-width: 576px) and (max-width: 767px) {
  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .laptop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .laptop2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .tablet {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile-pequeno {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
  .mobile-pequeno2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
}

/* MOBILE */

@media(min-width: 381px) and (max-width: 575px) {

  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .tablet {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
}

/* MOBILE PEQUENO */

@media(min-width: 263px) and (max-width: 380px) {
  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .tablet {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }
}

/* MOBILE PEQUENO2 */

@media(max-width: 262px) {
  .desktop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .laptop2 {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .tablet {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno {
    display: none;
    background-image: '../../assets/images/color-azul-mar.png';
  }

  .mobile-pequeno2 {
    display: block;
    background-image: '../../assets/images/color-azul-mar.png';
  }
}

